.score-card {
  background-color: #6e4ea6;
      transition: transform 0.3s, box-shadow 0.3s;
}

.timetable-card {
  background-color: #5f70c6;
      transition: transform 0.3s, box-shadow 0.3s;
}

.linkdin-card {
  background-color: #4589d4;
      transition: transform 0.3s, box-shadow 0.3s;
}

.score-card:hover, 
.timetable-card:hover, 
.linkdin-card:hover {
    /* Styles when the user hovers over the cards */
    transform: translateY(-5px); /* Lifts the card slightly */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow */
    opacity: 0.9;
}